easyocr
fastjsonschema
imageio
matplotlib
numpy
opencv-python
opencv-python-headless
openpyxl
pandas
pdf2image
pillow
prometheus_client
PyYAML
pyzmq
scipy
setuptools
supervision
svgpathtools
svgwrite
torch
torchvision
tqdm
ultralytics
fastapi
uvicorn
lmdb
python-multipart